<div class="header">
</div>

<div class="tab">
  <button class="tablinks" onclick="switchTab(event, 'Presentation')">Presentation</button>
  <button class="tablinks" onclick="switchTab(event, 'Menu')">Menu</button>
  <button class="tablinks" onclick="switchTab(event, 'Contact')">Contact</button>
  <button class="tablinks" onclick="switchTab(event, 'Access')">Access</button>
</div>

<div class="container">
  <div id="Presentation" class="tabcontent">
    <h3>Presentation</h3>
    <p>Le premier restaurant BURGER KING® ouvrit ses portes en 1954 à Miami, aux États-Unis. Cela semble aujourd’hui incroyable : le WHOPPER® fut inventé seulement trois ans plus tard. Ce "truc géant" qui coûtait 37 cents en 1958 permit à BURGER KING® de s’envoler vers le succès. En 1963, BURGER KING® ouvre son premier restaurant en dehors des États-Unis : à Puerto Rico. En 1969, BURGER KING® ouvrent ses premiers restaurants au Canada. En 1975, BURGER KING® réussit à s’étendre en Europe en ouvrant son premier restaurant à Madrid. Aujourd’hui, BURGER KING® est représenté dans le monde entier : il dispose de plus de 13 000 restaurants dans 88 pays.</p>
  </div>

  <div id="Menu" class="tabcontent">
    <h3>Menu</h3>
    <p>Meal of the day.</p>
    <p>Double Whooper</p>
    <p>Double Steack House</p>
    <p>Accompagné de ses onion rings caramélisés</p>
  </div>

  <div id="Contact" class="tabcontent">
    <h3>Contact</h3>
    <p>Address</p>
    <p>Phone</p>
    <p>mail</p>
  </div>

  <div id="Access" class="tabcontent">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.1395648456323!2d2.372206750753248!3d48.83647651010264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67218664adcb1%3A0x97fe71454d57ca3!2sBurger+King+Paris+BNF!5e0!3m2!1sfr!2sfr!4v1519743727818"
  width="900" height="180" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="slideshow">
  	<ul>
  		<li><img src="https://image.noelshack.com/fichiers/2018/09/2/1519748452-800x600-coeur-creme-dsc8246-copie-4504.jpg" alt="" width="350" height="200" /></li>
  		<li><img src="https://image.noelshack.com/fichiers/2018/09/2/1519748456-800x600-l-escalier-gourmand-pornic-4545.jpg" alt="" width="350" height="200" /></li>
  		<li><img src="https://image.noelshack.com/fichiers/2018/09/2/1519748461-images.jpeg" alt="" width="350" height="200" /></li>
  		<li><img src="https://image.noelshack.com/fichiers/2018/09/2/1519748549-last.jpg" alt="" width="350" height="200" /></li>
  	</ul>
  </div>
</div>

<br>

<h1>Les salles de restauration</h1>
<!-- <h2>Les meilleurs produits disponibles </h2> -->

<div id="carousel">
  <div class="btn-bar">
    <div id="buttons"><a id="prev" href="#"><</a><a id="next" href="#">></a> </div></div>
    <div id="slides">
      <ul>
        <li class="slide">
          <img src="https://image.noelshack.com/fichiers/2018/09/2/1519753769-41993-das-loft-sofitel-19to1.jpeg" alt="" width="500" height="300" />
        </li>
        <li class="slide">
          <img src="https://image.noelshack.com/fichiers/2018/09/2/1519753796-red-bean-de-tham-restaurant.jpg" alt="" width="500" height="300" />
        </li>
        <li class="slide">
          <img src="https://image.noelshack.com/fichiers/2018/09/2/1519753845-restaurant-c-restaurantzaal-6aaf5.jpg" alt="" width="500" height="300" />
        </li>
      </ul>
    </div>
  </div>
</div>

<br><br>
